[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = false

[dev-packages]
flake8 = "*"
pre-commit = "*"

[packages]
python-dotenv = "*"
praw = "*"
psutil = "*"
youtube-dl = "*"
python-dateutil = "*"
discord-py = {extras = ["voice"],version = "~=1.4.1"}
aenum = "*"
bs4 = "*"

[requires]
python_version = "3.8"

[scripts]
start = 'python -m bot'
lint = "python -m flake8"
precommit = "pre-commit install"
