[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = false

[dev-packages]
flake8 = "*"
pre-commit = "*"

[packages]
python-dotenv = "*"
psutil = "*"
youtube-dl = "*"
python-dateutil = "*"
aenum = "*"
bs4 = "*"
async-cse = "*"
lxml = "*"
asyncpraw = "*"
"discord.py" = {extras = ["voice"], version = "==1.7.3"}

[requires]
python_version = "3.10"

[scripts]
start = "python -m bot"
lint = "python -m flake8"
precommit = "pre-commit install"
